

<%- include('./includes/head.ejs') %>
<link href="css/news-list.css" rel="stylesheet" />

<body>
    <%- include('./includes/navbar.ejs') %>
<div class="main-div">

<% if(allnews.length>0){%>
    <% for (let news of allnews) { %>
    <div class="main-container">
        <article class="story-box">
            
            <div class="img-div">
                <div class="img">
                    <img src="<%=news.image%>" class="img" />
                    
                </div>
                
                
                <div class="content-div">
                    <p> <a href="/news/<%=news.id%>"><%=news.title%></a></p> 
                    
                    <span class="sp">Date: <%= news.date%></span>
                 
                <div class="btn-div">
                <form action="">



                <button class="btn" type="submit">Delete</button>

                </form>
                
                 <a href="/edit-news/<%=news.id%>?edit=true" class="btn">Edit</a>

                </div>


                </div>
                                
       
                


            </div>
            
        </article>
    </div>
    <%} %>


<%} %>

</div>
    <%- include('./includes/footer.ejs') %>
</body>
</html>