

<%- include('../includes/head.ejs') %>
<link href="css/news-list.css" rel="stylesheet" />

<body>
    <%- include('../includes/navbar.ejs') %>
<div class="main-div">

<% if(allnews.length>0){%>
    <% for (let news of allnews) { %>
    <div class="main-container">
        <article class="story-box">
            
            <div class="img-div">
                
                    <img src="<%=news.image%>" class="img" />
                    
                
                
                
                <div class="content-div">
                    <p> <a href="/news/<%=news.id%>"><%=news.title%></a></p> 
                    
                   


                    

                <div class="btn-div">


                <form action="/delete-news" method="post">

                <input type="hidden" name="newsid" value="<%=news.id%>">
<% if (authenticate) { %>
                <button class="btn" type="submit">Delete</button>
  <% } %> 
                </form>
                <% if (authenticate) { %>
                <div> <a href="/edit-news/<%=news.id%>?edit=true" class="btn">Edit</a></div>
               
                 <% } %> 
                </div>
 

                </div>
                                
       
                


            </div>
            <p> <%=news.date%></p>
        </article>
    </div>
    <%} %>


<%} %>

</div>
    <%- include('../includes/footer.ejs') %>
</body>
</html>